:root{
    /* colors pallete */
    --primaryColor:#E99708;
    --secondaryColor:#030100;
    --complementaryColor:#CA4715;
    --auxiliaryColor:#A31506;
    --textColor:white;
    
    /* font-size */
    font-size: 62.5%;
    --textsm:1.2rem;
    --textmd:1.4rem;
    --textlg:1.8rem;
    --textxl:2.4rem;    
    --textxxl:2.6rem;

}
body{
    font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none;
}
.inactive{
    display: none;
}
.hero{
    max-width: 42rem;
    height: 80vh;
    background-image: url("../images/bg-small.png");
    background-size: cover;
}
.navBar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.4rem;
    padding: 1rem 2rem;
}
.navBar__right{
    display: none;
    gap: 1.8rem;
    list-style: none;
}
.navBar__item a{
    font-size: var(--textmd);
    font-weight: 500;
    color: var(--textColor);
}
.icon{
    font-size: 2.4rem;
    color: var(--textColor);
    cursor: pointer;
}
.brandDescription{
    display: grid;
    place-content: center;
    height: 100%;
    margin: 0;
    text-align: center;
}
.brandDescription__logo{
    width: 8rem;
}
.brandDescription__name{
    font-weight: bold;
    font-size: var(--textxl);
    color: var(--textColor);
}
.brandDescription__phrase{
    color: var(--textColor);
    font-weight: 500;
    font-size: var(--textlg);
}
.primary__button{
    padding: 1rem 1.8rem;
    background-color: var(--primaryColor);
    border: solid 0.1rem var(--secondaryColor);
    font-size: var(--textmd);
    font-weight: bold;
    color: var(--secondaryColor);
}

/* estilos que corresponden al menu mobile */
.menu-mobile-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    padding: 2.4rem;
    background-color: var(--primaryColor);
}
.menu-mobile-container__icon{
    display: flex;
    justify-content: flex-end;
    width: 86%;
}
.menu-mobile-container ul{
    padding: 0;
    margin: 1.2rem 0 0;
    list-style: none;
}
.menu-mobile-container ul li{
    margin-bottom: 2.6rem;
}
.menu-mobile-container ul li a{
    text-decoration: none;
    font-size: var(--textmd);
    color: var(--secondaryColor);
    font-weight: bold;
}
.menu-mobile-container ul:nth-child(2){
    border-bottom: 1px solid var(--auxiliaryColor);
}
.user-info{
   margin-block-start: -1.2rem;
}
.user-info p {
    margin-bottom: 0.4rem;
}
.user-info .email-info{
    font-size: var(--textsm);
    font-weight: bold;
}
.user-info .sing-out{
    color: var(--auxiliaryColor);
    font-size: var(--textsm);
    font-weight: bold;
}
/* fin de estilos */
.mainPhrase{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 24vh;
    background-color: var(--secondaryColor);
}
.mainPhrase__content{
    text-align: center;
    margin: 0;
    font-size: var(--textlg);
    font-weight: 500;
    color: var(--primaryColor);
}
.menu{
    margin-block-end: 3.2rem;
}
.menuTop__title{
    margin-block-start: 6rem;
    text-align: center;
    font-size: var(--textxl);
}
.listIcons{
    display: flex;
    place-content: center;
    gap: 1rem;
}
.listIcons__container{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: solid 2px var(--secondaryColor);
    border-radius: 50%;
}
.listIcons__item{
    width: 2.8rem;
}
.listIcons__item--iceCream{
    width: 2rem;
}
.menuCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 42rem;
    margin-block-start: 4rem;
}
.cardOrder{
    width: 70%;
    height: auto;
    max-width: 24.2rem;
    padding: 1rem;
    text-align: center;
    border: solid 2px var(--secondaryColor);
}
.cardOrder__nameBurger{
    font-size: var(--textxl);
    margin-block-end: 2.8rem;
}
.cardOrder__ingredients{
    font-size: var(--textlg);
}
.cardOrder__button{
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    font-size: var(--textlg);
}
.menuBottom{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block-start: 2.8rem;
}
.reto{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-block-start: 6rem;
    margin-block-end: 4rem;
    text-align: center;
    background-color: var(--secondaryColor);
}
.reto__hashtag{
    font-size: var(--textxl);
    color: var(--primaryColor);
}
.reto__description{
    font-size: var(--textlg);
    color: var(--textColor);
}
.reto__socialMedia{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block-end: 2rem;
}
.listIcons__container--media{
    border: solid 2px var(--primaryColor);
}
.footer__header{
    font-size: var(--textxl);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerCard{
    width: 70%;
    height: auto;
    max-width: 24.2rem;
    padding: 1rem;
    margin-block-end: 2rem;
    text-align: center;
    border: solid 2px var(--secondaryColor);
}
.footer .footerCard__phone h2{
    margin-block-end: 0;
    font-weight: bold;
    font-size: var(--textlg);
}
.footer .footerCard__phone p{
    margin-block-start: 0;
    font-size: var(--textmd);
}
.footer .footerCard__address h2{
    margin-block-end: 0;
    font-weight: bold;
    font-size: var(--textlg);
}
.footer .footerCard__address p{
    margin-block-start: 0;
    font-size: var(--textmd);
}